<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {# Styles #}
    <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">

    <title>Document</title>
</head>
<body class="bg-blue-200">

    <div class="container mx-auto">
        <div class="prose">
            <h1>Bad Writing Bad</h1>
        </div>
    </div>

    <div class="container mx-auto">
        <div class="prose bg-white">
            {% page %}
        </div>
    </div>

</body>
</html>
